<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="base::bootstrapcss"></div>

</head>
<body>
<div th:replace="base::nav"></div>
<form action="#"
      th:action="@{/process}"
      th:object="${employee}"
      method="post">

    <input type="hidden" th:field="*{id}"/>

    Name : <input type="text" th:field="*{name}"/>
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>

    Title : <input type="text" th:field="*{title}"/>
    <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></span><br/>

    Department :
    <select name="department" id="department" class="custom-select" th:field="*{department}">
        <option value="">Select Department</option>
        <option th:each="depart : ${departments}"
                th:value="${depart.id}"
                th:text="${depart.name}"/>
    </select><br/>

    <input type="submit" value="Submit"/>
</form>
<div th:replace="base::bootstrapjs"></div>
</body>
</html>