<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <div th:replace="base::bootstrapcss"></div>
</head>
<body>
<div th:replace="base::nav"></div>
Name : <span th:text="${employee.name}"></span><br/>
Title : <span th:text="${employee.title}"></span><br/>
Department : <span th:text="${employee.department.name}"></span><br/>

<a th:href="@{/delete/{id}(id=${employee.id})}">Delete this employee</a>
<div th:replace="base::bootstrapjs"></div>
</body>
</html>